{% extends "layout.html" %}

{% block body %}
  <p>
      Tervetuloa työprosessien seurantasovellus Prosseen!
  </p>

  {% if prosessit_lkm != "Ei käyttäjää" %}
  
    {% for prosessi in prosessit_lkm %}
    <p>
      Omistat {{ prosessi.lkm }} prosessia:
    </p>
    <ul>
      {% for prosessi in prosessit %}
      <li>
        <a href="{{ url_for('prosessitehtava_prosessi_nayta', prosessi_id=prosessi.prosessi_id) }}">{{ prosessi.prosessin_nimi }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  
  {% endif %}

{% endblock %}
