<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Prosse</title>
    </head>

    <body>
      {% if current_user.is_authenticated %}
        <p>
          Kirjautunut nimellä {{ current_user.kayttajan_nimi }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
        </p>
      {% else %}
        <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      {% endif %}

      <ul>
	     <li><a href="{{ url_for('tehtavat_lista') }}">Listaa tehtävät</a></li>
       <li><a href="{{ url_for('tehtavat_lomake') }}">Lisää tehtävä</a></li>
       <li><a href="{{ url_for('kayttaja_lista') }}">Käyttäjähallinta</a></li>
      </ul>
      
      {% block body %}
        <p>
	        Content.
        </p>
      {% endblock %}
    </body>
  </html>