{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Prosessi</th>
      <th>Omistaja</th>
      <th>Luontipäivä</th>
      <th>Alkupäivä</th>
      <th>Loppupäivä</th>
      <th></th>
    </tr>
    {% for prosessi in prosessit %}
    <tr>
      <td>{{ prosessi.prosessin_nimi }}</td>
      <td>{{ prosessi.owner_id }}</td>
      <td>{{ prosessi.pvm_luonti }}</td>
      <td>{{ prosessi.pvm_alku }}</td>
      <td>{{ prosessi.pvm_loppu}}</td>
      <td>
        <form method="GET" action="{{ url_for('prosessi_nayta', prosessi_id=prosessi.id) }}">
          <input type="submit" value="Näytä"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}