{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Prosessi</th>
      <th>Omistaja</th>
      <th>Luontipäivä</th>
      <th>Alkupäivä</th>
      <th>Loppupäivä</th>
      <th></th>
    </tr>
    {% for prosessi in prosessit %}
    <tr>
      <td>{{ prosessi.prosessin_nimi }}</td>
      <td>To do</td>
      <td>{{ prosessi.pvm_luonti.date() }}</td>
      <td>{{ prosessi.pvm_alku.date() }}</td>
      <td>{{ prosessi.pvm_loppu.date()}}</td>
      <td>
        <form method="GET" action="{{ url_for('prosessi_nayta', prosessi_id=prosessi.id) }}">
          <input type="submit" value="Näytä"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <p></p>
  <form method="GET" action="{{ url_for('prosessi_lisays_lomake') }}">
    <input type="submit" value="Lisää prosessi"/>
  </form>
{% endblock %}