{% extends "layout.html" %}

{% block body %}

<fieldset>
    <legend>Uusi käyttäjä</legend>
    <form method="POST" action="{{ url_for('kayttaja_lisays') }}">
        <p>
            <label>{{ form.tunnus.label }}</label>
            {{ form.tunnus }}
            <td>
                <ul>
                    {% for error in form.tunnus.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </p>
        <p>
            <label>{{ form.kayttajan_nimi.label }}</label>
            {{ form.kayttajan_nimi }}
            <td>
                <ul>
                    {% for error in form.kayttajan_nimi.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </p>
        <p>
            <label>{{ form.salasana.label }}</label>
            {{ form.salasana }}
            <td>
                <ul>
                    {% for error in form.salasana.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </p>
            {{ form.lisaa }}
    </form>
</fieldset>

{% endblock %}