{% extends "layout.html" %}

{% block body %}

<fieldset>
    <legend>Uusi käyttäjä</legend>
    <form method="POST" action="{{ url_for('kayttaja_lisays') }}">
        <p>
            <label>{{ form.tunnus.label }}</label>
            {{ form.tunnus }}
        </p>
        <p>
            <label>{{ form.kayttajan_nimi.label }}</label>
            {{ form.kayttajan_nimi }}
        </p>
        <p>
            <label>{{ form.salasana.label }}</label>
            {{ form.salasana }}
        </p>
            {{ form.lisaa }}
    </form>
</fieldset>

{% endblock %}