{% extends "layout.html" %}

{% block body %}

<fieldset>
    <legend>Prosessi {{ prosessi.id }}</legend>
    <p>
        <b>Nimi:</b> {{ prosessi.prosessin_nimi }}
    </p>
    <p>
        <b>Prosessin omistaja:</b> {{ omistaja_tunnus }}
    </p>
    <p>
        <b>Alkupäivä:</b> {{ prosessi.pvm_alku }}
    </p>
    <p>
        <b>Loppupäivä:</b> {{prosessi.pvm_loppu}}
    </p>
</fieldset>
<fieldset>
    <legend>Prosessin tehtävät</legend>
        <table>
                <tr>
                    <th>ID</th>
                    <th>Tehtävä</th>
                    <th>Alkaa</th>
                    <th>Loppuu</th>
                    <th>Aloitettu</th>
                    <th>Valmis</th>
                    <th>Kommentti</th>
                    <th>Kommentoija (pvm)</th>
                    <th></th>
                </tr>
                {% for lomake in lomakkeet %}
                <tr>
                    <form method="POST" action="{{ url_for('prosessitehtava_muokkaa', pt_id=lomake.id.data, prosessi_id=prosessi.id) }}">
                        <td>{{ lomake.id.data }}</td>
                        <td>{{ lomake.tehtava_nimi.data }}</td>
                        <td>{{ lomake.pvm_alku }}</td>
                        <td>{{ lomake.pvm_loppu }}</td>
                        <td>{{ lomake.aloitettu }}</td>
                        <td>{{ lomake.valmis }}</td>
                        <td>{{ lomake.kommentti }}</td>
                        <td>{{ lomake.kommentoija_tunnus.data }} ({{ lomake.pvm_kommentti.data }})</td>
                        <td>
                            <input type="submit" value="Tallenna"/>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </table>
</fieldset>
<form method="GET" action="{{ url_for('prosessitehtava_lisays_lomake', prosessi_id=prosessi.id) }}">
    <input type="submit" value="Lisää tehtävä"></input>
</form>
{% endblock %}