{% extends "layout.html" %}

{% block body %}

<fieldset>
    <legend>Prosessi {{ prosessi.id }}</legend>
    <p>
        <b>Nimi:</b> {{ prosessi.prosessin_nimi }}
    </p>
    <p>
        <b>Prosessin omistaja:</b> {{ prosessi.owner_id }}
    </p>
    <p>
        <b>Alkupäivä:</b> {{ prosessi.pvm_alku }}
    </p>
    <p>
        <b>Loppupäivä:</b> {{prosessi.pvm_loppu}}
    </p>
</fieldset>
<fieldset>
    <legend>Prosessin tehtävät</legend>
        <table>
                <tr>
                    <th>Nimi</th>
                    <th>Alkaa</th>
                    <th>Loppuu</th>
                    <th>Tekijä</th>
                    <th></th>
                </tr>
                <tr>
                    <form method="POST" action="{{ url_for('prosessitehtava_lisays', 
                        prosessi_id=prosessi.id) }}">
                        <td>{{ form.tehtava }}</td>
                        <td>
                            {{ form.pvm_alku }}
                            {% for error in form.pvm_alku.errors %}
                                 <li>{{ error }}</li>
                            {% endfor %}
                        </td>
                        <td>
                            {{ form.pvm_loppu }}
                            {% for error in form.pvm_loppu.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </td>
                        <td>{{ form.tekija }}</td>
                        <td>{{ form.tallenna }}</td>
                    </form>
                </tr>
            </table>
</fieldset>

{% endblock %}