{% extends "layout.html" %}

{% block body %}

<fieldset>
    <legend>Tehtävä {{ tehtava.id }}</legend>
    <p>Nimi: {{ tehtava.nimi }}</p>
    <form method="POST" action="{{ url_for('tehtavat_muokkaa', tehtava_id=tehtava.id) }}">
        <p>
            <label>Kuvaus</label>
            <textarea name = "kuvaus"
                    rows = "3"
                    cols = "80">{{ tehtava.kuvaus }}</textarea>
        </p>
            <input type="submit" value="Tallenna"/>
    </form>
</fieldset>

{% endblock %}