{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tehtävä</th>
      <th>Kuvaus</th>
      <th></th>
    </tr>
    {% for tehtava in tehtavat %}
    <tr>
      <td>{{ tehtava.nimi }}</td>
      <td>{{ tehtava.kuvaus }}</td>
      <td>
        <form method="GET" action="{{ url_for('tehtavat_nayta', tehtava_id=tehtava.id) }}">
          <input type="submit" value="Näytä"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <p></p>
  <form method="GET" action="{{ url_for('tehtavat_lomake') }}">
    <input type="submit" value="Lisää tehtävä"/>
  </form>
{% endblock %}