{% extends "layout.html" %}
  
{% block body %}

<fieldset>
  <legend>Uusi tehtävä</legend>
  <form method="POST" action="{{ url_for('tehtavat_luo') }}">
      <p>
        <label>Nimi: </label>
        <input type="text" name="nimi"/>
      </p>
      <p>
          <label>Kuvaus</label>
          <textarea name = "kuvaus"
                  rows = "3"
                  cols = "80"></textarea>
      </p>
          <input type="submit" value="Lisää uusi tehtävä"/>
  </form>
</fieldset>
{% endblock %}