{% extends "layout.html" %}
  
{% block body %}

<fieldset>
  <legend>Uusi tehtävä</legend>
  <form method="POST" action="{{ url_for('tehtavat_luo') }}">
      <p>
        <label>{{ form.nimi.label }} </label>
        {{ form.nimi }}
        <td>
            <ul>
              {% for error in form.nimi.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
      </p>
      <p>
          <label>{{ form.kuvaus.label }}</label>
          {{ form.kuvaus(rows=3, cols=80) }}
      </p>
          {{ form.lisaa }}
  </form>
</fieldset>
{% endblock %}